
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/vaadin-notification/vaadin-notification.html">
<dom-module id="group-view">
    <template>
        <style>

            vaadin-list-box>vaadin-item .row{
                display: flex;
                flex-direction: row;
                margin-top: 10px;
            }
            vaadin-list-box>vaadin-item .col{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            vaadin-list-box>vaadin-item>.themeIndex{
                font-size:1.6em;
                margin: 0 20px;
            }
            vaadin-list-box>vaadin-item{
                cursor:pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: .5s;
                padding: 20px;
                display: flex;
                -webkit-box-shadow: 0px 4px 9px -2px var(--lumo-shade-40pct);
                -moz-box-shadow: 0px 4px 9px -2px var(--lumo-shade-40pct);
                box-shadow: 0px 4px 9px -2px var(--lumo-shade-40pct);
                flex-direction: row;
                align-items: center;
                font-family: var(--lumo-font-family);
                position: relative;
            }
            .success{
                color:var(--lumo-success-color) !important;
            }
            .error{
                color:var(--lumo-error-color) !important;
            }
            vaadin-list-box>vaadin-item .statusBlock iron-icon{
                height:1.2em;
                margin-right: 5px;
            }
            vaadin-list-box>vaadin-item .statusBlock div:last-child{
                border-bottom: 1px solid var(--lumo-primary-color-50pct);
            }
            vaadin-list-box>vaadin-item .statusBlock{
                margin-left: auto;
                justify-content: flex-end;
            }
            vaadin-list-box>vaadin-item .buttonBlock vaadin-button{
                transition: 1s;
                opacity: .2;
                border:1px solid rgba(255,255,255,0);
            }
            vaadin-list-box>vaadin-item:hover .buttonBlock vaadin-button{
                transition: 1s;
                opacity: 1;
                border:1px solid var(--lumo-primary-color);
            }
            vaadin-list-box>vaadin-item .buttonBlock vaadin-button:active{
                background: var(--lumo-primary-color-50pct);
                transition: none;
            }
            vaadin-list-box>vaadin-item .buttonBlock{
                margin-left: 30px;
            }
            vaadin-list-box>vaadin-item .groupInfo .groupName{
                font-size: 1.3em;
                font-family: Century;
            }
            vaadin-list-box>vaadin-item .groupInfo .countStud{
                font-size: .9em;
                color:var(--lumo-primary-color);
                border-bottom:1px solid var(--lumo-primary-color);
            }
            @media(min-width: 1000px) {

                vaadin-list-box>vaadin-item .statusBlock>div{
                    min-width: 250px;

                }
            }
            vaadin-list-box>vaadin-item .groupInfo .countDisc{
                font-size: 1em;
                color:var(--lumo-error-color);
                border-bottom:1px solid var(--lumo-error-color);
            }

        </style>


        <vaadin-list-box id="listCourseworks">
            <template is="dom-repeat" items="{{groupInfo}}">
                <vaadin-item on-click="handleClick">
                    <input type="text" class="indexOfMainList" hidden value="{{item.indexOfMainList}}">
                    <div class="themeIndex col">{{item.index}}</div>
                    <div class="col groupInfo">
                        <div class="groupName row">Группа {{item.groupName}} - {{item.course}} курс</div>
                        <div class="countStud row">В группе {{item.studentCount}}</div>
                        <div class="countDisc row">{{item.countDiscipline}}</div>
                    </div>
                    <div class="col statusBlock">
                        <template is="dom-if" if="{{userData.isTeacher}}">
                            <template is="dom-if" if="{{item.isCheck}}">
                                <div class="row success"><iron-icon icon="vaadin:vaadin:check"></iron-icon>Все темы добавлены</div>
                            </template>
                            <template is="dom-if" if="{{!item.isCheck}}">
                                <div class=" row error"><iron-icon icon="vaadin:vaadin:warning"></iron-icon>Необходимо добавить темы</div>
                            </template>
                        </template>
                        <div class="themeName row"><iron-icon icon="vaadin:vaadin:file-text-o"></iron-icon>Курсовых {{item.countCoursework}}</div>
                    </div>
                    <div class="buttonBlock col">
                        <template is="dom-if" if="{{!miscInfo.isCourseworkChecked}}">
                        <template is="dom-if" if="{{!miscInfo.isDisciplineChecked}}">
                            <vaadin-button on-click="showDisciplines">
                                <input type="text" class="indexOfMainList" hidden value="{{item.indexOfMainList}}">
                                <iron-icon icon="vaadin:vaadin:list" ></iron-icon>
                                Просмотр дисциплин
                            </vaadin-button>
                            <vaadin-button on-click="showCourseworks">
                                <input type="text" class="indexOfMainList" hidden value="{{item.indexOfMainList}}">
                                <iron-icon icon="vaadin:vaadin:file-text-o" ></iron-icon>
                                Просмотр курсовых
                            </vaadin-button>
                        </template>
                        </template>
                    </div>
                </vaadin-item>
            </template>
        </vaadin-list-box>

    </template>

    <script>

        function linkIndexBuilder(indexData) {
            var link = "";
            var group = [];
            if(indexData != null){
                if(indexData.indexGroup != null)
                    group.push("group"+indexData.indexGroup);

                if(indexData.indexDiscipline!= null)
                    group.push("discipline"+indexData.indexDiscipline);

                if(indexData.indexCoursework!= null)
                    group.push("coursework"+indexData.indexCoursework);
            }
            for(var i = 0; i < group.length;i++)
                if(i!=0)
                    link+="-"+group[i];
                else
                    link+=group[i];
            return link;
        }

        function trueRussianDecline(d1, d2,d3, c){
            switch (c%100){
                case 11: case 12: case 13: case 14:return d1;
                default:
                    switch (c%10){
                        case 0:case 5:case 6:case 7:case 8:case 9:return d1;
                        case 1: return d2;
                        case 2:case 3:case 4: return d3;
                    }
            }
            return "";
        }

        class GroupView extends Polymer.Element {
            static get is() {
                return "group-view";
            }
            showDisciplines(e){
                var index = e.currentTarget.getElementsByClassName("indexOfMainList")[0].value.trim();
                if(index != null){
                    var link = this.indexData.disciplinePage+"/"+
                        linkIndexBuilder({
                            indexGroup:index,
                            indexDiscipline:null,
                            indexCoursework:null
                        });
                    window.location.href = link;
                }
            }
            showCourseworks(e){
                var index = e.currentTarget.getElementsByClassName("indexOfMainList")[0].value.trim();
                if(index != null){
                    var link = this.indexData.courseworkPage+"/"+
                        linkIndexBuilder({
                            indexGroup:index,
                            indexDiscipline:this.indexData.indexDiscipline,
                            indexCoursework:null
                        });
                    window.location.href = link;
                }
            }
            handleClick(e){
                var index = e.currentTarget.getElementsByClassName("indexOfMainList")[0].value.trim();
                if(index != null){
                    if(this.miscInfo.isCourseworkChecked){
                            var link = this.indexData.themePage+"/"+
                                linkIndexBuilder({
                                    indexGroup:index,
                                    indexDiscipline:this.indexData.indexDiscipline,
                                    indexCoursework:this.indexData.indexCoursework
                                });
                            window.location.href = link;
                        }
                        else if(this.miscInfo.isDisciplineChecked){
                            var link = this.indexData.courseworkPage+"/"+
                                linkIndexBuilder({
                                    indexGroup:index,
                                    indexDiscipline:this.indexData.indexDiscipline,
                                    indexCoursework:null
                                });
                            window.location.href = link;
                        }
                }
            }
            connectedCallback() {
                super.connectedCallback();
            }

            static get properties() {
                return {
                    groupInfo:{
                        observer(){
                            this.miscInfo = {
                                isCourseworkChecked: false,
                                isDisciplineChecked: false
                            };
                            if(this.indexData.indexCoursework != null)
                                this.miscInfo = { isCourseworkChecked: true};
                            if(this.indexData.indexDiscipline != null)
                                this.miscInfo = { isDisciplineChecked: true};
                        }
                    }
                }
            }
        }
        window.customElements.define(GroupView .is, GroupView );
    </script>
</dom-module>