
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../components/app-navigation.html">
<link rel="import" href="bower_components/vaadin-lumo-styles/color.html">


<dom-module id="main-view">
    <template>
        <style>
            #root{
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            #contentContainer{
                flex-direction: row;
                overflow:auto;
            }
        </style>

        <custom-style>
            <style include="lumo-color"></style>
        </custom-style>

        <div id="root" >
            <div id="nav">
                <app-navigation id="appNavigation"></app-navigation>
            </div>
            <div id="contentContainer">
                <slot></slot>
            </div>
        </div>

    </template>

    <script>
        class MainView extends Polymer.Element{
            static get is() { return 'main-view'; }


            static get properties() {
                return {
                    options: {
                        type: Object,
                        value: () => ({
                            subscribe: false
                        })
                    }
                }
            }
        }
        window.customElements.define(MainView.is,MainView);


    </script>
</dom-module>