
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-list-box/vaadin-list-box.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/vaadin-notification/vaadin-notification.html">
<link rel="import" href="../bower_components/vaadin-dialog/vaadin-dialog.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">

<dom-module id="theme-view">
    <template >

        <!--region Диалоговое окно добавления-->
        <vaadin-dialog id="addDialog" no-close-on-esc no-close-on-outside-click>
            <template>
                <style>
                    h2{
                        text-align: center;
                    }
                    vaadin-text-field{
                        min-width: 60%;
                        margin-left: auto;
                    }
                    vaadin-form-layout{
                        display: flex;
                        flex-direction: column;
                    }
                    vaadin-form-layout>vaadin-form-item{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                    vaadin-form-item{
                        margin-top: 10px;
                    }
                    textarea{
                        padding: 5px;
                        box-sizing: border-box;
                        background: var(--lumo-shade-20pct);
                        border: none;
                        border-radius: 3px;
                        font-size: var(--lumo-font-size-m);
                        font-family: var(--lumo-font-family);
                        color: var(--lumo-body-text-color);
                        line-height: var(--lumo-line-height-m);
                        font-weight: 600;
                        min-width: 60%;
                        max-width: 60%;
                        margin-left: auto;
                        height: 10em;
                    }
                    .textar{
                        width: 100% !important;
                    }
                    .btnAddFormBLock  vaadin-button:first-child{
                        float: right;
                        margin-left: auto;
                        margin-right: 20px;
                    }
                </style>
                <vaadin-form-layout>
                    <vaadin-form-item colspan="2">
                        <h2>Добавление темы</h2>
                    </vaadin-form-item>

                    <vaadin-form-item colspan="2">
                        <label slot="label">Название темы</label>
                        <vaadin-text-field minlength="5" value="{{addThemeData.name}}"></vaadin-text-field>
                    </vaadin-form-item>

                    <vaadin-form-item class="textar" >
                        <label slot="label">Описание темы</label>
                        <textarea value="{{addThemeData.description::input}}" >{{addThemeData.description}}</textarea>
                    </vaadin-form-item>

                    <vaadin-form-item colspan="2" class="btnAddFormBLock">
                        <vaadin-button theme="success primary" on-click="addTheme">Добавить</vaadin-button>
                        <vaadin-button theme="error primary" on-click="closeAddDialog">Отмена</vaadin-button>
                    </vaadin-form-item>
                </vaadin-form-layout>
            </template>
        </vaadin-dialog>
        <!--endregion-->

        <!--region Диалоговое окно редактирования настроек-->
        <vaadin-dialog  id="editSettingsDialog" no-close-on-esc no-close-on-outside-click>
            <template>
                <style>
                    h2{
                        text-align: center;
                    }
                    vaadin-form-layout{
                        display: flex;
                        flex-direction: column;
                    }
                    vaadin-form-layout>vaadin-form-item{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                    vaadin-form-item{
                        margin-top: 10px;
                    }
                    .onoffswitch {
                        left: 20px;
                        position: relative; width: 125px;
                        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
                    }
                    .onoffswitch-checkbox {
                        display: none;
                    }
                    .onoffswitch-label {
                        display: block; overflow: hidden; cursor: pointer;
                        border: 2px solid #999999; border-radius: 50px;
                    }
                    .onoffswitch-inner {
                        display: block; width: 200%; margin-left: -100%;
                        transition: margin 0.3s ease-in 0s;
                    }
                    .onoffswitch-inner:before, .onoffswitch-inner:after {
                        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
                        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
                        box-sizing: border-box;
                    }
                    .onoffswitch-inner:before {
                        content: "Включено";
                        padding-left: 11px;
                        background: var(--lumo-success-color);
                        color:var(--lumo-tint-90pct);
                    }
                    .onoffswitch-inner:after {
                        content: "Отключено";
                        padding-right: 11px;
                        background: var(--lumo-error-color);
                        color:var(--lumo-tint-90pct);
                        text-align: right;
                    }
                    .onoffswitch-switch {
                        display: block; width: 18px; margin: 6px;
                        background: #FFFFFF;
                        position: absolute; top: 0; bottom: 0;
                        right: 90px;
                        border: 2px solid #999999; border-radius: 50px;
                        transition: all 0.3s ease-in 0s;
                    }
                    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
                        margin-left: 0;
                    }
                    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
                        right: 0px;
                    }
                    .switchBlocks>label{
                        margin-left: auto;
                    }
                    .switchBlocks>.onoffswitch{
                        margin-right: 30%;
                    }
                    @media (max-width: 860px) {
                        .onoffswitch-inner:before {
                            content: "Вкл";
                        }
                        .onoffswitch-inner:after {
                            content: "Откл";
                        }
                        .switchBlocks>.onoffswitch{
                            margin-right: 0;
                        }
                        .onoffswitch-switch{
                            display: none;
                        }
                        .datePicker vaadin-date-picker{
                            margin: auto;
                        }
                    }

                    .datePicker> label{
                        margin-left: auto;
                    }
                    .datePicker vaadin-date-picker{
                        margin-right: 30%;
                        margin-left: 30px;
                    }

                    .btnAddFormBLock  vaadin-button:first-child{
                        float: right;
                        margin-left: auto;
                        margin-right: 20px;
                    }
                </style>
                <vaadin-form-layout id="editSettingsForm">
                    <vaadin-form-item colspan="2">
                        <h2>Изменение настроек дисциплины и курсовой</h2>
                    </vaadin-form-item>

                    <vaadin-form-item colspan="2" class="switchBlocks">
                        <label slot="label">Автоназначение тем по дате окончания</label>
                        <div class="onoffswitch" >
                            <input type="checkbox" checked="{{additionalCourseWorkInfo.tempIsAutoset::change}}" on-click="changeAutoset" name="onoffswitch" class="onoffswitch-checkbox" id="switchAutoset">
                            <label class="onoffswitch-label" for="switchAutoset">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </vaadin-form-item>
                    <vaadin-form-item colspan="2" class="switchBlocks">
                        <label slot="label">Студент может открепляться от выбранной темы</label>
                        <div class="onoffswitch" >
                            <input type="checkbox" checked="{{additionalCourseWorkInfo.tempIsStudentChange::change}}" on-click="changeStudentChange" name="onoffswitch" class="onoffswitch-checkbox" id="switchStudentChange">
                            <label class="onoffswitch-label" for="switchStudentChange">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </vaadin-form-item>
                    <vaadin-form-item colspan="2" class="switchBlocks">
                        <label slot="label">Студент может предложить свою тему</label>
                        <div class="onoffswitch" >
                            <input type="checkbox" checked="{{additionalCourseWorkInfo.tempIsStudentOffer::change}}" on-click="changeStudentOffer" name="onoffswitch" class="onoffswitch-checkbox" id="switchStudentOffer">
                            <label class="onoffswitch-label" for="switchStudentOffer">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </vaadin-form-item>

                    <vaadin-form-item colspan="2" class="datePicker">
                        <label slot="label">Дата начала подачи тем</label>
                        <vaadin-date-picker placeholder="Выберите дату" max="{{additionalCourseWorkInfo.tempEndDate}}" value="{{additionalCourseWorkInfo.tempBeginDate}}">
                        </vaadin-date-picker>
                    </vaadin-form-item>

                    <vaadin-form-item colspan="2" class="datePicker">
                        <label slot="label">Дата конца подачи тем</label>
                        <vaadin-date-picker placeholder="Выберите дату" min="{{additionalCourseWorkInfo.tempBeginDate}}" value="{{additionalCourseWorkInfo.tempEndDate}}">
                        </vaadin-date-picker>
                    </vaadin-form-item>
                    <vaadin-form-item colspan="2" class="btnAddFormBLock">
                        <vaadin-button theme="success primary" on-click="saveSettings">Сохранить</vaadin-button>
                        <vaadin-button theme="error primary" on-click="closeSettingsDialog">Отмена</vaadin-button>
                    </vaadin-form-item>
                </vaadin-form-layout>

            </template>
        </vaadin-dialog>
        <!--endregion-->

        <!--region Дополнительная инфа о теме-->
        <style>

            #aboutBlock div{
                transition: 2s;
            }
            #aboutBlock{
                transition: 2s;
                display: flex;
                flex-direction: column;
                width:60%;
                margin:auto;
                padding: 20px;
                border-radius: 20px;
                border:1px solid var(--lumo-shade-80pct);
                -webkit-box-shadow: 0px 4px 50px -2px var(--lumo-shade-40pct);
                -moz-box-shadow: 0px 4px 50px -2px var(--lumo-shade-40pct);
                box-shadow: 0px 0px 50px 0px var(--lumo-shade-40pct);
            }
            #aboutBlock .nameColorInfo{
                color:var(--lumo-tertiary-text-color);
                font-weight: 600;
                margin-right: 5px;
            }
            @media (max-width: 760px)  {
                #aboutBlock{
                    width:100%;
                    padding: 5px;
                    box-sizing: border-box;
                }
            }
            h2{
                color:var(--lumo-primary-color);
                text-align: center;
                justify-content: center;
            }
            #aboutBlock .row.groupname{
                font-size:1.2em;
                text-decoration:underline;
            }
            #aboutBlock .row.endThemeInfo{
                font-size:1.1em;
                color: var(--lumo-error-color);
                border-left:3px solid var(--lumo-error-color);
                border-bottom:3px solid var(--lumo-error-color);
                margin-right: auto;
            }
            #aboutBlock .row.beginThemeInfo{
                font-size:1.1em;
                color: var(--lumo-success-color);
                border-left:3px solid var(--lumo-success-color);
                border-bottom:3px solid var(--lumo-success-color);
                margin-right: auto;
            }
            #dopinfo div{
                color:var(--lumo-secondary-text-color);
                font-size: 1.1em;
                font-weight: 500;
                margin-top: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid var(--lumo-shade-90pct);
            }
            .statusOn{
                border-radius: 15px;
                padding: 2px 5px;
                font-size:.9em;
                background: var(--lumo-success-color);
                color:var(--lumo-tint-90pct);
                float:right;
            }
            .statusOff{
                border-radius: 15px;
                padding: 2px 5px;
                font-size:.9em;
                background: var(--lumo-error-color);
                color:var(--lumo-tint-90pct);
                float:right;
            }
            #aboutBlock .row{
                display: flex;
                flex-direction: row;
                margin-top: 5px;
                color: var(--lumo-secondary-text-color);
            }
            .warn{
                border-bottom:3px solid var(--lumo-error-color);
                background: var(--lumo-error-color-10pct);
                margin-right: auto;
                font-size: .9em;
            }


        </style>



        <h2 class="row">{{additionalCourseWorkInfo.courseworkName}}</h2>
        <div id="aboutBlock">
            <span class="row groupname">Группа: {{additionalCourseWorkInfo.groupName}}</span>
            <span class="row"><span class="nameColorInfo">Дисциплина: </span> {{additionalCourseWorkInfo.disciplineName}}</span>
            <span class="row"><span class="nameColorInfo">Преподаватели: </span> {{additionalCourseWorkInfo.teachers}}</span>
            <div class="row beginThemeInfo">Начало подачи тем {{additionalCourseWorkInfo.beginDate}}
            </div>
            <div class="row endThemeInfo">Конец подачи тем
                {{additionalCourseWorkInfo.endDate}}
            </div>
            <template is="dom-if" if="{{userData.isTeacher}}">
                <vaadin-button theme="success primary" id="btnOpenDlg"  on-click="openDialog">Добавить тему</vaadin-button>
            </template>

            <template is="dom-if" if="{{userData.isTeacher}}">
                <vaadin-button theme="success" id="btnOpenSettingsDlg"  on-click="openSettingsDialog">Изменить настройки курсовой и дисциплины</vaadin-button>
            </template>

            <template is="dom-if" if="{{userData.isAdmin}}">
                <vaadin-button theme="success" id="btnOpenSettingsDlg"  on-click="openSettingsDialog">Изменить настройки курсовой и дисциплины</vaadin-button>
            </template>

            <template is="dom-if" if="{{additionalCourseWorkInfo.isNeedWarnCount}}">
                <template is="dom-if" if="{{userData.isStudent}}">
                    <span class="row warn">Преподаватели должны добавить еще минимум {{additionalCourseWorkInfo.teachersMustAddCount}} </span>
                </template>
                <template is="dom-if" if="{{userData.isTeacher}}">
                    <span class="row warn">Вам необходимо добавить еще минимум {{additionalCourseWorkInfo.teachersMustAddCount}} </span>
                </template>
            </template>
            <vaadin-button on-click="showDopInfo" >Дополонительные установки</vaadin-button>
            <iron-collapse id="dopinfo" >
                <div>Автоназначение тем по дате окончания
                    <template  is="dom-if" if="{{!additionalCourseWorkInfo.isAutoset}}">
                        <span class="statusOff">Отключено</span>
                    </template>
                    <template is="dom-if" if="{{additionalCourseWorkInfo.isAutoset}}">
                        <span class="statusOn">Включено</span>
                    </template>
                </div>
                <div>Студент может открепляться от выбранной темы
                    <template  is="dom-if" if="{{!additionalCourseWorkInfo.isStudentChange}}">
                        <span class="statusOff">Отключено</span>
                    </template>
                    <template is="dom-if" if="{{additionalCourseWorkInfo.isStudentChange}}">
                        <span class="statusOn">Включено</span>
                    </template>
                </div>
                <div>Студент может предложить свою тему
                    <template  is="dom-if" if="{{!additionalCourseWorkInfo.isStudentOffer}}">
                        <span class="statusOff">Отключено</span>
                    </template>
                    <template is="dom-if" if="{{additionalCourseWorkInfo.isStudentOffer}}">
                        <span class="statusOn">Включено</span>
                    </template>
                </div>

            </iron-collapse>

        </div>

        <!--endregion-->

        <!--region Лист тем-->
<style>
        vaadin-list-box{
        margin-top: 20px;
        }
        vaadin-list-box>vaadin-item .row{
        display: flex;
        flex-direction: row;
        }
        vaadin-list-box>vaadin-item .col{
        display: flex;
        flex-direction: column;
        }
        vaadin-list-box>vaadin-item{
        cursor:pointer;
        /*-webkit-user-select: none;*/
        /*-moz-user-select: none;*/
        /*-ms-user-select: none;*/
        /*user-select: none;*/
        transition: .5s;
        padding: 20px;
        display: flex;
        -webkit-box-shadow: 0px 4px 9px -2px var(--lumo-shade-40pct);
        -moz-box-shadow: 0px 4px 9px -2px var(--lumo-shade-40pct);
        box-shadow: 0px 4px 9px -2px var(--lumo-shade-40pct);
        flex-direction: row;
        align-items: center;
        font-family: var(--lumo-font-family);
        position: relative;
        }
        vaadin-list-box>vaadin-item .attachBlock{
            float: right;
            margin-left: auto;
        }
        vaadin-item .themeIndex{
            font-size:30px;
            margin: 0 20px;
        }
        vaadin-item .ti_block .themeEditor iron-icon{
            height: 1.1em;
        }
        vaadin-item .attachBlock .attachTheme[disabled],vaadin-item .attachBlock .deatachTheme[disabled]{
            background: var(--lumo-disabled-text-color);
            opacity: .4;
        }
        vaadin-item .attachBlock .themeAttachedInfo iron-icon,vaadin-item .attachBlock .themeAttachedTeacher iron-icon{
            height: 1em;
            margin-right:10px;
        }
        vaadin-item .attachBlock .attachTheme{
            background: var(--lumo-success-color);
            color:var(--lumo-tint-90pct);
        }
        vaadin-item .attachBlock .deatachTheme{
            background: var(--lumo-error-color);
            color:var(--lumo-tint-90pct);
        }
        vaadin-item .attachBlock .themeAttachedInfo{
            text-align: center;
            margin-top: 10px;
            background: var(--lumo-primary-color-50pct);
            border-radius: 5px;
            color:var(--lumo-tint-90pct);
        }
        vaadin-item .attachBlock .themeAttachedTeacher{
            text-align: center;
            margin-top: 10px;
            border-bottom:2px solid var(--lumo-error-color-50pct);
            background:2px solid var(--lumo-primary-color-10pct);
            border-radius: 5px;
            color:var(--lumo-body-text-color);
        }
        vaadin-item .ti_block{
            margin-right: 10px;
        }

        vaadin-item .ti_block .themeEditor{
            position: absolute;
            top:0;
            left: 20px;
            font-size: .8em;
            color:var(--lumo-disabled-text-color);
        }
        vaadin-item .descBtn{
            width: 300px;
        }
        vaadin-item .themeDesciption{
            word-break: break-all;
            white-space: pre-wrap;
        }
        vaadin-item .themeName{
            font-size: 1.3em;
        }
        vaadin-item .attachBlock paper-tooltip{
            --paper-tooltip-text-color:var(--lumo-error-color);
            --paper-tooltip-background:var(--lumo-tint-90pct);
        }
        @media (min-width:768px) {
            vaadin-item .attachBlock{
                min-width: 280px;
            }
        }
        </style>
        <vaadin-list-box id="listCourseworks">
            <template is="dom-repeat" items="{{themeItemInfo}}">
                <vaadin-item on-click="handleClick">
                    <div class="themeIndex col">{{item.index}}</div>
                    <div class="col ti_block">
                        <template is="dom-if" if="{{!item.isEditedNull}}">
                            <div class="themeEditor row"> <iron-icon icon="vaadin:vaadin:edit" ></iron-icon>{{item.edited}}</div>
                        </template>
                            <div class="themeName row">{{item.name}}</div>
                        <vaadin-button class="row descBtn" on-click="showThemeDescription" data-themeid$='{{item.index}}'>Описание</vaadin-button>
                        <iron-collapse class="row themeDesciption" id$="themeDescription{{item.index}}" >
                                [[ _formatDescription(item.description)]]
                        </iron-collapse>
                    </div>
                    <div class="attachBlock col">


                        <template  is="dom-if" if="{{userData.isTeacher}}">
                            тичер
                        </template>

                        <template  is="dom-if" if="{{userData.isStudent}}">
                            <template  is="dom-if" if="{{item.isCanAttach}}">
                                <template  is="dom-if" if="{{item.isDisabledAttachBtn}}">
                                        <vaadin-button on-click="attachMe"   disabled class="attachTheme"><iron-icon icon="vaadin:vaadin:user-check"></iron-icon>Закрепится за темой</vaadin-button>
                                        <paper-tooltip offset="0">Смотрите дату начала и конца подачи тем</paper-tooltip>
                                </template>
                                <template  is="dom-if" if="{{!item.isDisabledAttachBtn}}">
                                    <vaadin-button on-click="attachMe"  dat a-index$="{{item.index}}" class="attachTheme"><iron-icon icon="vaadin:vaadin:user-check"></iron-icon>Закрепится за темой</vaadin-button>
                                </template>
                            </template>
                            <template  is="dom-if" if="{{item.isCurrentUserAttach}}">
                                <template  is="dom-if" if="{{item.isDisabledDetachBtn}}">
                                    <vaadin-button disabled class="deatachTheme" ><iron-icon icon="vaadin:vaadin:minus-circle"></iron-icon>Открепится от темы</vaadin-button>
                                    <paper-tooltip offset="0">Смотрите дату начала и конца подачи тем и дополнительные установки данной дисциплины.</paper-tooltip>
                                </template>
                                <template  is="dom-if" if="{{!item.isDisabledDetachBtn}}">
                                    <vaadin-button on-click="detachMe" data-index$="{{item.index}}" class="deatachTheme"><iron-icon icon="vaadin:vaadin:minus-circle"></iron-icon>Открепится от темы</vaadin-button>
                                </template>
                            </template>
                        </template>


                        <div class="themeAttachedInfo"><iron-icon icon="vaadin:vaadin:info-circle"></iron-icon>{{item.status}}</div>
                        <div class="themeAttachedTeacher"><iron-icon icon="vaadin:vaadin:nurse"></iron-icon>Преподаватель {{item.teacherAdd}}</div>
                    </div>
                </vaadin-item>
            </template>
        </vaadin-list-box>

        <!--endregion-->

        </template>
    <script>
        function trueRussianDecline(d1, d2,d3, c){
            switch (c%100){
                case 11: case 12: case 13: case 14:return d1;
                default:
                    switch (c%10){
                        case 0:case 5:case 6:case 7:case 8:case 9:return d1;
                        case 1: return d2;
                        case 2:case 3:case 4: return d3;
                    }
            }
            return "";
        }

        function showError(parent,txt) {
            var toast = document.createElement("paper-toast");
            toast.setAttribute("opened",true);
            toast.setAttribute("duration",5000);
            toast.setAttribute("class","errorMsg");
            toast.setAttribute("style","--paper-toast-background-color:var(--lumo-error-color-50pct);--paper-toast-color:var(--lumo-tint-text-color-90pct);--iron-icon-fill-color: var(--lumo-tint-text-color-90pct;");

            toast.innerHTML = " <iron-icon icon=\"vaadin:vaadin:warning\"  ></iron-icon><span>"+txt+"</span>";
            parent.appendChild(toast);
        }
        function showSuccess(parent,txt) {
            var toast = document.createElement("paper-toast");
            toast.setAttribute("opened",true);
            toast.setAttribute("duration",5000);
            toast.setAttribute("class","errorMsg");
            toast.setAttribute("style","--paper-toast-background-color:var(--lumo-success-color-50pct);--paper-toast-color:var(--lumo-tint-text-color-90pct);--iron-icon-fill-color: var(--lumo-tint-text-color-90pct;");

            toast.innerHTML = " <iron-icon icon=\"vaadin:vaadin:check\"  ></iron-icon><span>"+txt+"</span>";
            parent.appendChild(toast);
        }

        class ThemeView extends Polymer.Element {
            static get is() {
                return "theme-view";
            }
            closeSettingsDialog(){
                this.set("additionalCourseWorkInfo.tempBeginDate",this.additionalCourseWorkInfo.beginDateForDatePicker);
                this.set("additionalCourseWorkInfo.tempEndDate",this.additionalCourseWorkInfo.endDateForDatePicker);
                this.set("additionalCourseWorkInfo.tempIsStudentOffer",this.additionalCourseWorkInfo.isStudentOffer);
                this.set("additionalCourseWorkInfo.tempIsStudentChange",this.additionalCourseWorkInfo.isStudentChange);
                this.set("additionalCourseWorkInfo.tempIsAutoset",this.additionalCourseWorkInfo.isAutoset);

                this.$.editSettingsDialog.opened = false;
            }
            saveSettings(event){
                this.$.editSettingsDialog.opened = false;
                event.changeSettingsData = {
                    beginDate: this.additionalCourseWorkInfo.tempBeginDate,
                    endDate: this.additionalCourseWorkInfo.tempEndDate,
                    isStudentOffer: this.additionalCourseWorkInfo.tempIsStudentOffer,
                    isAutoset: this.additionalCourseWorkInfo.tempIsAutoset,
                    isStudentChange: this.additionalCourseWorkInfo.tempIsStudentChange
                };
            }
            changeAutoset(){
                //alert("OK")
            }
            openSettingsDialog(){
                this.$.editSettingsDialog.opened = true;
            }
            openDialog () {
                this.$.addDialog.opened  = true;
            };
            closeAddDialog () {
                this.$.addDialog.opened  = false;
                this.addThemeData = {};
            };
            addTheme(event){

                if(this.addThemeData.name == null || this.addThemeData.name.length < 5){
                    showError(document.body,"Добавьте название темы!");
                    event.addThemeData = {name:""}
                    event.preventDefault();
                    return;
                }
                this.$.addDialog.opened  = false;
                event.addThemeData = this.addThemeData;
                showSuccess(document.body,"Тема добавлена");
                this.addThemeData = {};
            }
            attachMe(event){
                var index = event.srcElement.getAttribute("data-index") -1;
                event.indexAttachTheme = index;
            }
            detachMe(event){
                var index = event.srcElement.getAttribute("data-index") -1;
//                this.notifyPath("indexAttachTheme",index);
                event.indexDetachTheme = index;
            }
            _formatDescription(txt){
                return txt;
                //return txt.replace("\n",).replace("\t","&nbsp;&nbsp;&nbsp;&nbsp;");
            }
            showDopInfo(e) {
                this.$.dopinfo.toggle();
                e.target.setAttribute('aria-expanded', this.$.dopinfo.opened);
            }
            showThemeDescription(e) {
                var id = e.target.getAttribute("data-themeid");
                var collapse = this.$.listCourseworks.querySelector("#themeDescription"+id);
                collapse.toggle();
                e.target.setAttribute('aria-expanded', collapse.opened);
            }
            connectedCallback() {
                super.connectedCallback();
            }

            static get properties() {
                return {
                    addThemeData:{
                      value:{
                          name:"",
                          description:""
                      }
                    },
                        additionalCourseWorkInfo:{
                            type:Object,
                          observer(newValue, oldValue){
                                var _this = this;
                              var promise = new Promise(function (res,rej) {
                                  (function _handl() {
                                        if(_this.additionalCourseWorkInfo.teachersMustAddCount != null)
                                            res(_this.additionalCourseWorkInfo);
                                        else
                                            setTimeout(_handl,10);
                                    })();
                              });
                              promise.then(function (obj) {
                                  _this.set('additionalCourseWorkInfo.isNeedWarnCount', obj.teachersMustAddCount > 0);
                                  _this.set('additionalCourseWorkInfo.teachersMustAddCount',obj.teachersMustAddCount+" "+ trueRussianDecline("тем","тему","темы",obj.teachersMustAddCount));
                                  _this.set('additionalCourseWorkInfo.tempBeginDate',obj.beginDateForDatePicker);
                                  _this.set('additionalCourseWorkInfo.tempEndDate',obj.endDateForDatePicker);
                                  _this.set('additionalCourseWorkInfo.tempIsStudentOffer',obj.isStudentOffer);
                                  _this.set('additionalCourseWorkInfo.tempIsAutoset',obj.isAutoset);
                                  _this.set('additionalCourseWorkInfo.tempIsStudentChange',obj.isStudentChange);
                              });
                          }
                        },
                        themeItemInfo:{
                          observer(){
                              this.themeItemInfo.map(function (e) {
                                  //e.edited = Math.random() < .3?"Отредактироал вася пупкин":null;//test
                                  e.isEditedNull = e.edited == null || e.edited == "";
                              });
                          }
                        },
                        error:{
                            observer(){
                                //erorr handler
                            }
                        },
                        dateBeginIsBefore:{
                            value:true
                        },
                        dateEndIsBefore:{
                            value:true
                        },
                        isStudentOffer:{
                            value:false
                        },
                        isStudentChange:{
                                value:true
                        },
                        isAutoset:{
                                value:false
                        }
                };
            }
        }
        window.customElements.define(ThemeView .is, ThemeView );
    </script>
</dom-module>